*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
}
.navbar {
    background-color: #f9fafe;
    opacity: 0.9;
}

.nav-link{
    border-bottom: 3px solid transparent;
    transition: ease-in-out 0.3s;
    position: relative;
}

.nav-link.active , .nav-link:hover{
    border-bottom: 3px solid #520c01;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.carousel-caption{
    text-shadow: 5px 5px 10px #000000;
}

.bg-image {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

.menu-image{
    aspect-ratio: 1;
    object-fit: cover;    
}

footer ul {
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
}

.card_title , .card_list_1 , .card_list_2 , .card_list_3, .button_menu ,
.header_title , .header_caption , .image_content_1 , .title_content_1 , .article_content_1,
.image_content_2 , .title_content_2 , .article_content_2,
.info_list_1 , .info_list_2 , .info_list_3 {
    opacity: 0;
}

.card_title.animate__animated,
.card_list_1.animate__animated,
.card_list_2.animate__animated,
.card_list_3.animate__animated,
.button_menu.animate__animated,
.header_title.animate__animated,
.header_caption.animate__animated,
.image_content_1.animate__animated,
.title_content_1.animate__animated,
.article_content_1.animate__animated,
.image_content_2.animate__animated,
.title_content_2.animate__animated,
.article_content_2.animate__animated,
.info_list_1.animate__animated,
.info_list_2.animate__animated,
.info_list_3.animate__animated {
    opacity: 1;
}

.card_list_1 , .header_title ,
.info_list_1 {
    animation-delay: 0.35s;
}
.card_list_2 ,
.info_list_2 {
    animation-delay: 0.55s;
}
.card_list_3 , .header_caption, 
.info_list_3 {
    animation-delay: 0.75s;
}


@media only screen and (max-width: 700px) {
    .carousel-item img {
        height: 300px;
        object-fit: cover;
    }
}