*{
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #f9fafe;
    opacity: 0.9;
}

.nav-link{
    border-bottom: 3px solid transparent;
    transition: ease-in-out 0.3s;
    position: relative;
}

.nav-link.active , .nav-link:hover{
    border-bottom: 3px solid #520c01;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

@media only screen and (max-width: 700px) {
    .carousel-item img {
        height: 300px;
        object-fit: cover;
    }
  }